body {
    background-color: lavender;
    color: black;
    margin: 0;
    padding: 0;
}

header {
    background-color: lightskyblue;
    padding-bottom: 10px;
    margin-bottom: 1%;
}

header > h1 {
    margin: 0;
    padding-left: 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding-right: 40px;
}

header nav ul li {
    width: 15%;
}

nav button {
    border: 1px solid darkblue;
    background-color: cornflowerblue;
    color: black;
    padding: 8px;
    width: 100%;
    font-weight: bold;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

nav button:hover, nav button.selected {
    border: 1px solid cornflowerblue;
    background-color: darkblue;
    color: white;
    cursor: pointer;
}

aside h3 {
    padding-left: 10px;
}

/*
#page {
    display: flex;
    justify-content: center;
}
*/

#page > #corps {
    width: 100%;
    max-width: 1080px;
    text-align: center;
}

.d-flex {
    display: flex;
}

.d-flex.center {
    justify-content: center;
}

.btn {
    color: black;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
}

.dl-btn {
    background-color: #af99ff;
    border: 1px solid #c8c8db;
    border-radius: 5px;
}

.dl-btn:hover {
    background-color: #c8c8db;
    border: 1px solid #af99ff;
}

.btn-link {
    font-weight: 500;
}

.btn-link:hover {
    color: blueviolet;
    text-decoration: underline;
}

.u-list {
    list-style: none;
    padding: 0 0 0 0;
}

.u-list li {
    margin-bottom: 3rem;
}

/*
section {
    //
}
*/