body {
    /*background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgb(47, 0, 82) 35%, rgb(131, 0, 167) 100%) no-repeat;*/
    background-color: whitesmoke;
    color: black;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d7d7d7;
    padding-bottom: 10px;
}

img {
    max-width: 100%;
}

section > section, #mondesduvoile {
    margin: 0 3rem;
}

section > h3 {
    margin-left: 1rem;
}

header > h1 {
    margin: 0;
    padding-left: 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding-right: 40px;
}

header nav ul li {
    width: 15%;
}

nav button {
    border: 1px solid white;
    background-color: rgb(35, 35, 35);
    color: white;
    padding: 8px;
    width: 100%;
    font-weight: bold;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

nav button:hover, nav button.selected {
    border: 1px solid rgb(35, 35, 35);;
    color: black;
    cursor: pointer;
}

nav button:hover {
    background-color: white;
}

nav button.selected {
    cursor: default;
    background-color: rgb(138, 138, 138);
}

#projects-list button.selected {
    cursor: pointer;
}

aside h3 {
    padding-left: 10px;
}

#page > #corps {
    width: 100%;
    max-width: 1080px;
    padding: 0 2rem;
}

#projects-list li {
    width: 100%;
}

#projects-list button+div {
    display: none;
    padding: 16px 0;
    background-color: rgb(236, 227, 255);
    padding-left: 15px;
}

#projects-list button+div p {
    margin: 0 0 0 0;
}

#projects-list button.selected+div {
    display: block;
}

.d-flex {
    display: flex;
}

.d-flex.center {
    justify-content: center;
}

.d-flex.sp-evenly {
    justify-content: space-evenly;
}

.btn {
    color: black;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
}

.dl-btn {
    background-color: #af99ff;
    border: 1px solid #c8c8db;
    border-radius: 5px;
}

.dl-btn p, .btn-link p {
    display: inline-block;
    margin: 5px;
}

.dl-btn:hover {
    background-color: #c8c8db;
    border: 1px solid #af99ff;
}

.btn-link, .dl-btn {
    display: flex;
    width: fit-content;
    align-items: center;
    margin: auto;
}

.btn-link p {
    font-weight: 500;
    text-decoration: underline;
}

.btn-link:hover p {
    color: rgb(209, 86, 209);
    text-decoration: none;
}

.icon {
    height: 32px;
    margin: 0 10px;
}

.link {
    background: none;
    border: none;
    font-size: medium;
    text-decoration: underline;
    color: darkviolet;
}

.link:hover {
    cursor: pointer;
    text-decoration: none;
    color: rgb(209, 86, 209);
}

.list-no-style {
    list-style: none;
}

.list-squares {
    list-style: square;
}

.low-spaces li {
    margin-bottom: 5px;
}

.big-spaces li {
    margin-bottom: 3rem;
}

.no-padding {
    padding: 0 0 0 0;
}

.no-margin {
    margin: 0 0 0 0;
}

.txt-justify {
    text-align: justify;
}

.txt-center {
    text-align: center;
}

.w-50 {
    width: 50%;
}

.img-intxt {
    padding: 10px;
}

.img-intxt.left {
    float: left;
}

.img-intxt.right {
    float: right;
}

#follower {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    pointer-events: none;
    transition: transform 0.1s ease-out;
}

/* Menu BURGER */

#burger {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 30px;
    height: 21px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

#burger span {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s;
}

#burger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

#burger.open span:nth-child(2) {
    opacity: 0;
}

#burger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

@media only screen and (max-width: 740px) {
    #burger {
        display: flex;
    }

    #navbar {
        display: none;
        background-color: #333;
        position: absolute;
        top: 50px;
        right: 20px;
        width: 300px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        list-style: none;
        padding: 0;
    }
    
    #navbar li {
        text-align: center;
    }
    
    #navbar li a {
        display: block;
        padding: 15px;
        color: #fff;
        text-decoration: none;
        transition: background-color 0.3s;
    }
    
    #navbar li a:hover {
        background-color: #575757;
    }
    
    /* Afficher le menu lorsque la classe 'open' est ajoutée */
    #navbar.open {
        display: block;
    }

    header nav ul li {
        width: 100%;
    }
}